<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404 Super Calc</title>
    <link rel="stylesheet" href="assets404/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets404/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="assets404/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets404/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets404/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets404/css/styles.css">
</head>

<body>

    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;Super Calculadora James</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="http://localhost:8080/"><i class="fa fa-home"></i>&nbsp;Calculadora</a></li>
                        <li class="nav-item"><a class="nav-link " style="color:#ffffff;" href="/FAQs.html"><i class="fa fa-wpexplorer"></i>&nbsp;FAQs</a></li>
                        <li class="nav-item"><a class="nav-link " style="color:#ffffff;" href="/About.html"><i class="fa fa-star-o"></i>&nbsp;About us</a></li>
                        <li class="nav-item"><a class="nav-link " style="color:#ffffff;" href="/Login.html"><i class="fa fa-sign-in"></i>&nbsp;Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>


    <div></div><main class="page contact-page">
    <section class="portfolio-block contact" style="background: #080808;color: rgb(255,255,255);">
        <div class="container">

    <br>
    <br>

  <div class="stars">
    <div class="central-body">
      <img class="image-404" src="assets404/img/muppers/404.svg" width="300px">
        <a href="http://localhost:8080/" class="btn-go-home" target="_blank">VOLVER AL INICIO</a>
    </div>
    <div class="objects">
      <img class="object_rocket" src="assets404/img/muppers/rocket.svg" width="40px">
      <div class="earth-moon">
        <img class="object_earth" src="assets404/img/muppers/earth.svg" width="100px">
        <img class="object_moon" src="assets404/img/muppers/moon.svg" width="80px">
      </div>
      <div class="box_astronaut">
        <img class="object_astronaut" src="assets404/img/muppers/astronaut.svg" width="140px">
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>

    </div>

  </div>

        </div>
    </section>
</main>
    <script src="assets404/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>