<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FAQs</title>
    <link rel="stylesheet" href="assetsFaqs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assetsFaqs/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="assetsFaqs/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assetsFaqs/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assetsFaqs/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assetsFaqs/css/Faq-by-pomdre-1.css">
    <link rel="stylesheet" href="assetsFaqs/css/Faq-by-pomdre.css">
    <link rel="stylesheet" href="assetsFaqs/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="http://localhost:8080/"><i class="fa fa-globe"></i>&nbsp;Super Calculadora James</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="/"><i class="fa fa-home"></i>&nbsp;Calculadora</a></li>
                        <li class="nav-item"><a class="nav-link " style="color:#ffffff;" href="/help"><i class="fa fa-wpexplorer"></i>&nbsp;FAQs</a></li>
                        <li class="nav-item"><a class="nav-link " style="color:#ffffff;" href="/about"><i class="fa fa-star-o"></i>&nbsp;About us</a></li>
                        <li class="nav-item"><a class="nav-link " style="color:#ffffff;" href="/login"><i class="fa fa-sign-in"></i>&nbsp;Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <div></div>
    <section id="faq" style="padding: 2px;margin: 11px;">
        <hr class="star-dark mb-5">
        <h2 class="text-uppercase text-center" style="font-size: 48;">FAQ</h2><br >
        <div class="container">
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Como Iniciar los contenedores Docker&nbsp;</button>
                <div class="panel">
                    <p>docker-compose up -d --build</p>
                </div>
            </div><br >
            <div class="faqelement"><button class="btn btn-primary faq on" type="button" style="box-shadow: none;">Como terminar los contenedores Docker &nbsp;</button>
                <div class="panel">
                    <p>Answer</p>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="star-dark mb-5">
        </div>
    </section>
    <script src="assetsFaqs/bootstrap/js/bootstrap.min.js"></script>
    <script src="assetsFaqs/js/Faq-by-pomdre.js"></script>
</body>

</html>